<?php
$helper = Mage::helper('tr');
$translationByLocale = $helper->getTranslationByLocale();
$locales = $helper->getLocales();
?>
<style>
    td.red {color: red;}
    .table {
        border-collapse: collapse;
        border-color: #e8e5de;
    }
</style>
<table border=1 class="table">
    <tr>
        <th>Orig</th>
        <?php foreach ($locales as $locale) : ?>
            <th><?php echo $locale?></th>
        <?php endforeach;?>
    </tr>
    <?php foreach ($translationByLocale as $key => $translationsArr) : ?>
        <tr>
            <?php foreach($translationsArr as $locale => $translation) : ?>
                <?php $class = '';?>
                <?php if ($locale != 'Orig' && $translation == $translationsArr['Orig']) : ?>
                    <?php $class = 'red';?>
                <?php endif;?>
                <td class="<?php echo $class?>"><?php echo $translation?></td>
            <?php endforeach;?>
        </tr>
    <?php endforeach;?>
    <tr>
        <td>&nbsp;</td>
        <?php foreach($locales as $locale):?>
            <td>
                <button onclick="download('<?php echo $locale?>')">Download <?php echo $locale?></button>
            </td>
        <?php endforeach;?>
    </tr>
</table>
<script type="text/javascript">
    function download(locale)
    {
        var tpl = '<?php echo Mage::getBaseUrl('media') . 'tr/%s.csv';?>';
        var url = tpl.split('%s').join(locale);
        window.open(url);
    }
</script>